In [1]:
import pandas as pd
import pickle
import numpy as np

In [2]:
with open("dic_gc1","rb") as f:
    dic_riazi = pickle.load(f)
with open("dic_gc3","rb") as f:
    dic_tajrobi = pickle.load(f)
with open("dic_gc5","rb") as f:
    dic_ensani = pickle.load(f)
with open("dic_gc7","rb") as f:
    dic_honar = pickle.load(f)
with open("dic_gc9","rb") as f:
    dic_zaban = pickle.load(f)

In [3]:
df_riazi = pd.DataFrame.from_dict(dic_riazi.values())
df_tajrobi = pd.DataFrame.from_dict(dic_tajrobi.values())
df_ensani = pd.DataFrame.from_dict(dic_ensani.values())
df_honar = pd.DataFrame.from_dict(dic_honar.values())
df_zaban = pd.DataFrame.from_dict(dic_zaban.values())

In [4]:
frames = [df_riazi,df_tajrobi,df_ensani,df_honar,df_zaban]
df = pd.concat(frames,axis=0)

In [5]:
df = df.drop_duplicates()
df = df.reset_index(drop=True)

In [7]:
df = df[~(pd.isnull(df["نام و نام خانوادگی"]))]

In [8]:
df

,نام و نام خانوادگی,شهر,رتبه کشوری,رتبه در منطقه,منطقه,سابقه کانونی,میانگین تراز کانون,تعداد آزمون,رشته قبولی,دانشگاه قبولی,gc,year
1,اشکان اسمعیلی,تهران,1,1,منطقه يک,1,8189,,,,1,89
2,فریبرز صالحی,تهران,3,3,منطقه يک,1,6840,,,,1,89
3,رسول شفیع پور چنگایی,تهران,6,6,منطقه يک,1,8066,,,,1,89
4,محمدصالح نیکورو,كرمانشاه,7,1,منطقه دو,1,8151,,,,1,89
5,علی یکه خانی,بيرجند,8,2,منطقه دو,2,8241,0,مهندسي برق,دانشگاه صنعتي شريف - تهران,1,89
...,...,...,...,...,...,...,...,...,...,...,...,...
638,شعله فطرتی,كيش,0,3,منطقه سه,1,6526,18,زبان و ادبيات انگليسي,علامه طباطبايي - تهران,9,83
639,ندا آذرپی,تهران,0,7,منطقه يک,1,7956,2,,,9,83
641,سیدجلال زهبی,اصفهان,0,2,منطقه دو,1,0,19,,,9,82
642,فرشته قشقایی,ورامين,0,6,منطقه سه,1,0,7,,,9,82
643,پروانه ظهرابی,اسلامشهر,323,7,منطقه سه,1,0,3,,,9,82

In [8]:
df["رشته مدرسه"] = df["gc"].apply(lambda x: "ریاضی" if x==1 else x)
df["رشته مدرسه"] = df["رشته مدرسه"].apply(lambda x: "انسانی" if x==5 else x)
df["رشته مدرسه"] = df["رشته مدرسه"].apply(lambda x: "زبان" if x==9 else x)
del df["gc"]

In [9]:
df

,نام و نام خانوادگی,شهر,رتبه کشوری,رتبه در منطقه,منطقه,سابقه کانونی,میانگین تراز کانون,تعداد آزمون,رشته قبولی,دانشگاه قبولی,year,رشته مدرسه
1,محمد پیام تائبی,تهران,1,1,منطقه 1,3,7738,72,مهندسي کامپيوتر,دانشگاه صنعتي شريف - تهران,100,ریاضی
2,محمدشایان شعبانی,رفسنجان,2,1,منطقه 2,6,7857,120,مهندسي کامپيوتر,دانشگاه صنعتي شريف - تهران,100,ریاضی
3,محمد اسماعیلی,اراك,3,2,منطقه 2,7,7589,142,مهندسي کامپيوتر,دانشگاه صنعتي شريف - تهران,100,ریاضی
4,امیرمهدی میقانی,اراك,5,4,منطقه 2,3,7529,79,مهندسي کامپيوتر,دانشگاه صنعتي شريف - تهران,100,ریاضی
5,ترانه خسروجردی,مشهد,6,2,منطقه 1,1,7645,23,مهندسي کامپيوتر,دانشگاه صنعتي شريف - تهران,100,ریاضی
...,...,...,...,...,...,...,...,...,...,...,...,...
47378,فرشاد ابراهیمی,تربت جام,138,6,منطقه سه,2,7090,0,مهندسي شيمي,دانشگاه صنعتي شريف - تهران,90,زبان
47379,علی احمدی شاهرخت,قائن,179,7,منطقه سه,3,7289,0,مهندسي صنايع,دانشگاه صنعتي شريف - تهران,90,زبان
47380,محمدامین شیخی,گچساران,183,8,منطقه سه,6,7326,0,مهندسي برق,دانشگاه علم و صنعت ايران - تهران,90,زبان
47381,ابوالفضل سیرفر,جيرفت,206,9,منطقه سه,3,7733,0,مهندسي عمران,دانشگاه صنعتي شريف - تهران,90,زبان
47382,عمادالدین محرابیان,مهريز,217,10,منطقه سه,6,7001,0,پزشکي,دانشگاه علوم پزشکي شيراز,90,زبان

In [10]:
df["سال"] = df["year"]
del df["year"]

In [12]:
df["سال"] = df["سال"]+1300

In [13]:
df

,نام و نام خانوادگی,شهر,رتبه کشوری,رتبه در منطقه,منطقه,سابقه کانونی,میانگین تراز کانون,تعداد آزمون,رشته قبولی,دانشگاه قبولی,رشته مدرسه,سال
1,محمد پیام تائبی,تهران,1,1,منطقه 1,3,7738,72,مهندسي کامپيوتر,دانشگاه صنعتي شريف - تهران,ریاضی,1400
2,محمدشایان شعبانی,رفسنجان,2,1,منطقه 2,6,7857,120,مهندسي کامپيوتر,دانشگاه صنعتي شريف - تهران,ریاضی,1400
3,محمد اسماعیلی,اراك,3,2,منطقه 2,7,7589,142,مهندسي کامپيوتر,دانشگاه صنعتي شريف - تهران,ریاضی,1400
4,امیرمهدی میقانی,اراك,5,4,منطقه 2,3,7529,79,مهندسي کامپيوتر,دانشگاه صنعتي شريف - تهران,ریاضی,1400
5,ترانه خسروجردی,مشهد,6,2,منطقه 1,1,7645,23,مهندسي کامپيوتر,دانشگاه صنعتي شريف - تهران,ریاضی,1400
...,...,...,...,...,...,...,...,...,...,...,...,...
47378,فرشاد ابراهیمی,تربت جام,138,6,منطقه سه,2,7090,0,مهندسي شيمي,دانشگاه صنعتي شريف - تهران,زبان,1390
47379,علی احمدی شاهرخت,قائن,179,7,منطقه سه,3,7289,0,مهندسي صنايع,دانشگاه صنعتي شريف - تهران,زبان,1390
47380,محمدامین شیخی,گچساران,183,8,منطقه سه,6,7326,0,مهندسي برق,دانشگاه علم و صنعت ايران - تهران,زبان,1390
47381,ابوالفضل سیرفر,جيرفت,206,9,منطقه سه,3,7733,0,مهندسي عمران,دانشگاه صنعتي شريف - تهران,زبان,1390
47382,عمادالدین محرابیان,مهريز,217,10,منطقه سه,6,7001,0,پزشکي,دانشگاه علوم پزشکي شيراز,زبان,1390

In [14]:
df.to_csv("result2.csv",index=False)